@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: all;
}


@plugin "daisyui/theme" {
  name: "black";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(14% 0.005 285.823);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(98% 0 0);
  --color-primary: oklch(96% 0.001 286.375);
  --color-primary-content: oklch(14% 0.005 285.823);
  --color-secondary: oklch(0.1758 0.0002 281.3);
  --color-secondary-content: oklch(92% 0 0);
  --color-accent: oklch(4% 0.005 285.823);
  --color-accent-content: oklch(87% 0.006 286.286);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(48% 0.243 264.376);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(51.975% 0.176 142.495);
  --color-success-content: oklch(90.395% 0.035 142.495);
  --color-warning: oklch(96.798% 0.211 109.769);
  --color-warning-content: oklch(19.359% 0.042 109.769);
  --color-error: oklch(62.795% 0.257 29.233);
  --color-error-content: oklch(12.559% 0.051 29.233);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-fix-input {
  color: var(--color-base-content);
  /* font-size: medium;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral);
  padding: 0.5rem;
  background: var(--color-base-100); */
}
/* .editor-fix-input:focus {
  outline: 1px solid var(--color-primary);
}
.editor-fix-input::placeholder {
  color: var(--color-neutral);
} */
