@import "tailwindcss";
@import "@toeverything/theme/style.css";
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes:  dark ;
}
@plugin "daisyui/theme" {
  name: "black";
  default: true;

  /* effects */
  --depth: 1;
  --noise: 0;
  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
}